@charset "UTF-8";
header{color: #FFFFFF;
	background-color: #747474}
h1{text-align: center;
	text-transform: uppercase;}
H2{color:#00FFF4;
	text-transform: uppercase;}
img{display: none}
section{color:#FFFFFF;
	background-color: #4F4F4F;}